In [1]:
# ------------------------
## ----import libraries
# ------------------------
import os,sys
import numpy as np
# xarray
import xarray as xr
import pandas as pd

# plot
import matplotlib.pyplot as plt
import matplotlib.image as image
from matplotlib.offsetbox import OffsetImage,AnchoredOffsetbox

In [2]:
file_in = '/gpfswork/rech/cli/uor98hu/MYDATA/nao.dat'
file_out = '/gpfswork/rech/cli/uor98hu/MYDATA/nao4memonthly.dat'

In [3]:
fin = open(file_in, "rt")
fout = open(file_out, "wt")
i = 0
for line in fin:
    l = line.split()
    #modify first line
    if i == 0 :  l = ['Year','01','02','03','04','05','06','07','08','09','10','11','12','Annual']
    fout.write(' '.join(l)+'\n')
    i+=1
    
fin.close()
fout.close()

In [4]:
data = pd.read_csv(file_out,sep=" ")

# Annual NAO

In [25]:
time = data.loc[158:196,'Year']
NAO = data.loc[158:196,'Annual']

# monthly NAO

In [33]:
lmonth = ['01','02','03','04','05','06','07','08','09','10','11','12']
path = "/gpfsstore/rech/cli/rcli002/eORCA025.L75/eORCA025.L75-IMHOTEP.GAI-S/1m/"
year = 1980

for i in np.arange(158,197):
    datadate = xr.open_mfdataset(path+str(year)+"/eORCA025.L75-IMHOTEP.GAI_y"+str(year)+"m*.1m_gridTsurf.nc")
    
    NAOm = data.loc[i,lmonth]
    NAOds = xr.Dataset(
        data_vars=dict(NAO =(["time_counter"],NAOm)),
        coords=dict(time_counter=datadate.time_counter.values))
    namo="NAOm"+str(year)+".nc"
    NAOds.to_netcdf(path="/gpfswork/rech/cli/uor98hu/MYDATA/NAO/"+namo, mode='w')
    year+=1

In [16]:
# for year 1979
time = np.array(['1979-01-16T12:00:00.000000000', '1979-02-15T12:00:00.000000000',
       '1979-03-16T12:00:00.000000000', '1979-04-16T00:00:00.000000000',
       '1979-05-16T12:00:00.000000000', '1979-06-16T00:00:00.000000000',
       '1979-07-16T12:00:00.000000000', '1979-08-16T12:00:00.000000000',
       '1979-09-16T00:00:00.000000000', '1979-10-16T12:00:00.000000000',
       '1979-11-16T00:00:00.000000000', '1979-12-16T12:00:00.000000000'], dtype='datetime64')

lmonth = ['01','02','03','04','05','06','07','08','09','10','11','12']

NAOm = data.loc[157,lmonth]

NAOds = xr.Dataset(
    data_vars=dict(NAO =(["time_counter"],NAOm)),
    coords=dict(time_counter=time))

namo="NAOm1979.nc"
NAOds.to_netcdf(path="/gpfswork/rech/cli/uor98hu/MYDATA/NAO/"+namo, mode='w')

In [17]:
data

,Year,01,02,03,04,05,06,07,08,09,10,11,12,Annual
0,1822,-99.99,-99.99,2.99,-3.19,0.59,-0.86,-4.05,-0.19,-1.09,-2.00,-0.05,-0.73,-99.99
1,1823,-3.39,-99.99,-99.99,-99.99,4.65,-0.83,0.58,2.90,0.67,-1.39,-0.76,-0.20,-99.99
2,1824,-0.16,0.25,-1.44,1.46,1.34,-3.94,-2.75,-0.08,0.19,-99.99,-0.70,-0.01,-99.99
3,1825,-0.23,0.21,0.33,-0.28,0.13,0.41,-0.92,1.43,-0.95,1.98,1.06,-1.31,0.16
4,1826,-3.05,4.87,-0.97,1.78,-1.20,0.83,1.89,2.72,-0.76,0.18,-2.41,-0.59,0.27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
196,2018,1.82,-0.10,-1.12,2.37,2.01,-1.40,3.83,1.26,0.45,-1.17,-1.28,1.93,0.72
197,2019,-0.36,1.90,2.39,1.70,2.05,-2.82,-2.79,0.10,-0.32,-1.11,-1.84,0.74,-0.03
198,2020,3.11,4.70,0.36,-0.71,-0.09,-1.52,-1.23,-1.36,0.49,-0.19,1.25,-0.78,0.34
199,2021,-1.57,0.50,0.72,-3.31,-0.34,0.35,-1.59,-2.44,-0.16,0.49,-1.10,0.37,-0.67
200,2022,1.46,3.34,-0.33,-2.30,2.07,-0.34,0.60,-1.70,-3.73,0.86,2.37,-99.99,-99.99